.img-404{
    margin-top: 25rem;
    margin-bottom: 10rem;
    padding-left: 10rem;
    padding-right: 10rem;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-404 h4{
    color: var(--g-300);
}

.img-404 img{
    width: 30%;
}

.warning-404{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.proximamente{
    margin-top: 5rem;
    margin-bottom: 10rem;
    padding-left: 10rem;
    padding-right: 10rem;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.ilustracion-mantenimiento{
    width: 40%;
    margin-top: 6rem;
}

.logo-mantenimiento{
    width: 12%;
}

@media screen and (max-width: 1024px) {
    .ilustracion-mantenimiento{
        width: 80%;
        margin-top: 6rem;
    }
    
}

@media screen and (max-width: 576px) {
    .proximamente{
        margin-top: 20rem;
        padding-left: 5rem;
        padding-right: 5rem;
    }
    
    .ilustracion-mantenimiento{
        width: 90%;
        margin-top: 10rem;
    }
    
}


