.registro-contenido{
    margin-top: 15rem;
    width: 100%;
    box-sizing: border-box;
    padding: 0 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10rem;
}

.img-registro{
    width: 40%;
}

.cont-formulario-registro{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario-registro{
    width: 80%;
    display: flex;
    flex-direction: column;
}

.input-label{
    font-size: 1.8rem;
    color: var(--negro);
    margin-bottom: 0.4rem;
    font-weight: 600;
}

.input-gral{
    padding: 1rem;
    border-radius: 1.2rem;
    border: 2px solid var(--g-800);
    font-size: 1.8rem;
    margin-bottom: 2rem;
    font-family: Lato;
    resize: none;
    font-weight: 500;
    color: var(--g-300);
    background-color: rgba(255, 255, 255, 0);
}

.input-gral::placeholder{
    color: var(--g-500);
}


.input-gral:focus{
    outline: none !important;
    animation: focus_appear 0.3s ease-in-out forwards;
}
.select-form{
    padding: 0.8rem 1rem;
    border-radius: 1rem;
    border: 2px solid var(--g-800);
    font-size: 1.8rem;
    margin-bottom: 1rem;
    font-family: Lato;
}

.btn-enviar{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: var(--primario);
    color: var(--blanco);
    font-family: Lato;
    font-size: 2rem;
    margin-inline:auto;
    cursor: pointer;
}

.btn-enviar p{
    font-size: 2.4rem;
    margin-right: 2rem;
    font-weight: 600;
    
}

.input-archivo::-webkit-file-upload-button{
    background-color: var(--secundario);
    border: none;
    font-family: Lato;
    padding: 1rem 2rem;
    font-weight: 600;
    border-radius: 1rem;
}

.input-archivo::file-selector-button{
    background-color: var(--secundario);
    border: none;
    font-family: 'Lato';
    padding: 1rem 2rem;
    font-weight: 600;
    border-radius: 1rem;
}

.file-preview{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-items: center;
}

.preview-img{
    margin-top: 1rem;
    width: 20%;
}

.cont-formulario-agregar{
    min-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes focus_appear{
    0%{
        border: 2px solid var(--g-800);
    }
    100%{
        border: 2px solid var(--p-400);
    }
}