.cont-miembro{
    background-image: url('../assets/huella_amarilla.svg');
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10rem;
    text-align: center;
    margin-left: 4rem;
    margin-right: 4rem;
    cursor: pointer;
}

.cont-miembro:hover .miembro-svg{
    transform: scale(1.1);
}

.miembro-svg{
    width: 80%;
}

.img-miembro image{
    filter: saturate(0);
}

.nombre-miembro{
    margin-top: 2rem;
}