.modal-bg{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: rgba(0, 0, 0, 0.738);
    backdrop-filter: blur(2px);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}

.cont-modal{
    border-radius: 4rem;
    background-color: var(--g-900);
    display: flex;
    flex-direction: row;
    width: 60%;
    z-index: 100;
}

.modal-contenido{
    padding: 8rem 6rem;
    width: 60%;
}
.imagen-completa-miembro{
    width: 40%;
    background-image: url('../assets/miembro_completa.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4rem 0 0 4rem;
}

.nombre-miembro-modal{
    margin-bottom: 2rem;
}

.close-btn-cont{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 2rem;
}

.btn-cerrar-modal{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primario);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}
.descripcion-miembro-modal{
    font-size:1.5rem;
}
.btn-cerrar{
    width: 6%;
    cursor: pointer;
}

.btn-cerrar:hover{
   transform: scale(1.2);
}