
.hero-origen{
    background-size: cover;
    background-position-y: center;
}

.elementos-origen{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 10rem 0;
}

.nuestra-filosofia, .nuestra-marca, .nuestra-historia{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 10rem 0;
    padding: 0 10rem;
    box-sizing: border-box;
}

.cont-gif {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: intrinsic;
}
.gif-origen {
    width: 100%;
}
.cont-origen{
    width: 50%;
    text-align: center;
}

.titulo-origen{
    margin-bottom: 4rem;
}