.hero-proyectos{
    background-image: url('../assets/proyectos.png');
    background-position: center;
    background-size: cover;
}

.btns-secciones{
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-around;
}

.btn-seccion{
    border: none;
    background-color: var(--secundario);
    font-family: Lato;
    font-size: 2.4rem;
    border-radius: 25rem;
    padding: 1rem 3rem;
    color: var(--primario);
    font-weight: 600;
    cursor: pointer;
}


.btn-seccion:hover{
    animation: btn_white_fade 0.1s ease-in-out forwards;
}

.dark-overlay{
    background: rgba(0, 0, 0, 0.5);
    padding: 10rem 0rem;
    height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    z-index: 2;
    backdrop-filter: contrast(70%);
}

.cultura{
    background-image: url('../assets/cultura.png');
    background-size: cover;
    background-position: center; 
}

.arte{
    background-image: url('../assets/arte.png');
    background-size: cover;
    background-position: center; 
}
.urbanismo{
    background-image: url('../assets/urbanismo.png');
    background-size: cover;
    background-position: center; 
}
.sustentabilidad{
    background-image: url('../assets/sustentabilidad.png');
    background-size: cover;
    background-position: center; 
}

.descripcion-proceso{
    width: 50%;
    font-size: 2rem;
}

.proyectos-galeria{
    width: 100%;
    padding: 10rem 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    align-items: center !important;
}


.btn-slider{
    position: absolute;
    width: 10rem;
    height: 10rem;
    border-radius: 25rem;
    border: none;
    margin-top: 7.5rem;
    margin-right: 10rem;
    background-color: var(--p-300);
    cursor: pointer;
}

.swiper-proyectos {
    width: 100%;
    display: flex;
  }

.swiper-proyectos a{
    text-decoration: none;
}

.proyecto-cont{
    width: 25rem !important;
    height: 25rem !important;
    border-radius: 2rem;
    background-image: url('../assets/equipo_rhesident.jpg');
    background-position: center;
    background-size: cover;
    margin-left: 2rem;
    margin-right: 2rem;
}

.swiper-proyectos .swiper-button-next, .swiper-proyectos .swiper-button-prev{
    width: 10rem !important;
    height: 10rem !important;
    border-radius: 25rem;
    background-color: var(--p-300);
    color: var(--blanco) !important;
    margin-top: -5rem !important;
}

.swiper-slide:hover .descripcion-proceso-ind{
    display: flex;
    animation: fade_in 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.swiper-slide:hover .nombre-proceso-ind{
    font-size: 2rem;
    margin-bottom: 1rem;
    animation: fade_in 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.swiper-slide:hover .proyecto-overlay{
    animation: color_transform 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.swiper-slide:hover{
    cursor: pointer;
}


@keyframes btn_white_fade{
    0%{background-color: var(--secundario); transform: scale(1);}
    100%{background-color: var(--blanco); transform: scale(1.1);}
}
